* {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about_anchor {
    position: absolute;
    transform: translateY(-100px);
  }

.skill_anchor {
  position: absolute;
  transform: translateY(-30px);
}

// .portfolio_anchor {
//     position: absolute;
//     transform: translateY(-200px);
// }
