<section>
    <div class="about-me-section">
        <h3>About me</h3>
        <span class="about-me-text">I am a Front-end developer from Sulzbach-Rosenberg, Germany. I help desiners and companies to bring their ideas to real life.
            Creativity and logical thinking are skills that i have developed to connect ideas into quality products.
<br>
<br>
            if you think i'd be a good match for your projects, contact me!
        </span>

        <div>
            <span  class="about-me-icn">
                <img src="./../../../assets/img/about-me/house.png" alt="">
                Based in Sulzbach-Rosenberg
            </span>
            <span  class="about-me-icn">
                <img src="./../../../assets/img/about-me/laptop_chromebook.png" alt="">
                Open to work Remote
            </span>
        </div>

        <div class="btn-div">
            <a href="#" class="btn">Let’s talk</a>
        </div>
    </div>
    <div class="my-img">
        <img class="my-pic" src="./../../../assets/img/IMG_2605.JPG" alt="">
        <img class="arrow-left" src="../../../assets/img/arrow-left/Group 3.png" alt="">
    </div>

    <!-- <div class="arrow-left">
        <img src="../../../assets/img/arrow-left/Group 3.png" alt="">
    </div> -->

</section>