<section>
    <div class="about-me-section">
        <h3>{{'about me' | translate }}</h3>
        <span class="about-me-text">I am a Front-end developer from Sulzbach-Rosenberg, Germany. I help desiners and
            companies to bring their ideas to real life.
            Creativity and logical thinking are skills that i have developed to connect ideas into quality products.
            <br>
            <br>
            if you think i'd be a good match for your projects, contact me!
        </span>

        <div>
            <span class="about-me-icn">
                <img src="./assets/img/about-me/house.png" alt="">
                Based in Sulzbach-Rosenberg
            </span>
            <span class="about-me-icn">
                <img src="./assets/img/about-me/laptop_chromebook.png" alt="">
                Open to work Remote
            </span>
        </div>

        <div class="btn-div">
            <a href="#" class="btn">Let’s talk</a>
        </div>
    </div>
    <div class="imgs">
        <div class="my-pic">
            <img src="./assets/img/IMG_2605.JPG" alt="">
            <div class="border-hover"></div>
        </div>


        <div class="arrow-left">
            <!-- <img src="./assets/img/arrow-left/Group 3.svg" alt=""> -->
            <svg width="236" height="235" viewBox="0 0 236 235" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M42.1074 110.893V193.519H124.734" stroke="black" stroke-width="4" />
                <path d="M194.313 41.3135L42.106 193.521" stroke="black" stroke-width="4" />
            </svg>
        </div>
    </div>

</section>