section {
    height: 100vh;
}


.my-skills-container {
    // height: 100vh;
    box-sizing: border-box;
    border: #000000 solid 4px;
    margin: 350px 100px 0px 100px;
    text-align: center;

    .tittle {
        font-family: 'Syne-ExtraBold';
        font-size: 78px;
        position: relative;
        top: -50px;
    }
    
// FIXME: fixe skills places and center them in one line
    .skills-box {
        display: flex;
        flex-wrap: wrap;
        column-gap: 150px;
        justify-content: center;
        align-items: center;
        margin: 50px 100px 100px 100px;
    }

    .skills-icons {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-bottom: 50px;
        // padding: 25px 50px 25px 50px;


        .icn {
            margin-bottom: 12px;
            // width: 75px;
            // height: 75px;
        }

        .skill-name {
            font-family: 'Overpass-Bold';
            font-size: 16px;
            text-align: center;
        }
    }


    .non-skill {
        display: flex;
        align-items: center;
        justify-content: center;
        // margin-bottom: 16px;

        .non-skill-icn {
            width: 75px;
            height: 75px;
            margin-right: 24px;
        }

        .non-skill-text {
            font-family: 'Overpass-Regular';
            font-size: 22px;
            font-weight: 400;
            margin-top: 32px;

            .btn {
                text-decoration: none;
                color: #00bc8f;

                &:hover {
                    font-weight: 700;
                }

            }
        }
    }
}

.arrow-right {
    width: 100%;

    img {
        margin: 110px 0px 0px 0px;
    width: 250px;
    height: 250px;
    position: relative;
    left: 200px;
    }
}