<!-- <h1>Impressum</h1>

<p>Bilal Mohammed<br />
Pfarrgasse&szlig;e 8<br /> -->
<!-- Geb&auml;ude 44<br /> -->
<!-- 92237 Sulzabch-Rosenberg</p>

<h2>Kontakt</h2>
<p>Telefon: +49 (0) 174 140 51 51<br /> -->
<!-- Telefax: +49 (0) 123 44 55 99<br /> -->
<!-- E-Mail: contact&#64;portfolio-bilal.com</p> -->

<!-- <p>Quelle: <a href="https://www.e-recht24.de/impressum-generator.html">https://www.e-recht24.de/impressum-generator.html</a></p> -->


<!-- filepath: x:\Project\15\Portfolio\portfolio\src\app\legal-notice\legal-notice.component.html -->
<app-nav-bar></app-nav-bar>
<div class="container">
    <div class="back-btn">
        <button routerLink="/">&lt; Back</button>
    </div>

    <div class="legal-notic-div">
        <h1>legal Notice</h1>

        <p>Bilal Mohammed<br />
            Pfarrgasse 8<br />
            92237 Sulzabch-Rosenberg</p>

        <h2>Contact</h2>
        <p>Telefon: <a href="tel: +491741405151">+491741405151</a><br />
            E-Mail: <a href="mailto: contact@portfolio-bilal.com">contact&#64;portfolio-bilal.com</a> </p>

        <p>Quelle: <a
                href="https://www.e-recht24.de/impressum-generator.html">https://www.e-recht24.de/impressum-generator.html</a>
        </p>
    </div>
</div>