<!-- <app-nav-bar></app-nav-bar> -->
<section>
    <div class="general-text">
        <h1>Frontend <br> Developer</h1>
        <div class="line"> <p></p> <span>Bilal Mohammed</span></div>
    </div>
    <div class="mail-srcoll">
        <div class="mail">
            <span class="main-mail">contact&#64;portfolio-bilal.com</span>
        </div>
        <div class="scroll-down">
            <!-- <svg xmlns="http://www.w3.org/2000/svg" class="scroll-down-arrow">
                <use xlink:href="assets/img/scroll-down-arrow/scroll-down-arrow.svg#icon"></use>
            </svg> -->
            <svg xmlns="http://www.w3.org/2000/svg" class="scroll-down-arrow" viewBox="0 0 24 24">
                <path d="M12 16l-6-6h12z"></path>
            </svg>
            <span>{{'scroll' | translate }}</span> <br> <span>{{'down' | translate }}</span>
            <!-- <span>Sroll <br> DOwn</span> -->
        </div>
    </div>
</section>

<!-- <app-about-me></app-about-me>
<app-my-skills></app-my-skills>
<app-portfolio></app-portfolio> -->
