<app-nav-bar></app-nav-bar>
<section>
    <div class="general-text">
        <h1>Frontend <br> developer</h1>
        <div class="line"> <p></p> <span>Bilal Mohammed</span></div>
    </div>
    <div class="mail-srcoll">
        <div class="mail">
            <span class="main-mail">Bilalgmail.com</span>
        </div>
        <div class="scroll-down">
            <span>Sroll <br> Down</span>
            <!-- <span>Sroll <br> DOwn</span> -->
        </div>
    </div>
</section>

<app-about-me></app-about-me>
<app-my-skills></app-my-skills>
<app-portfolio></app-portfolio>
