* {
    margin: 0;
    background-color: #FFFCF3;
    box-sizing: border-box;
    // scrollbar-width: thin;
    // scrollbar-color: #010101 #FFFCF3;
    scroll-behavior: smooth;
    &.menu-active {
        overflow: hidden !important;
      }
    // max-width: 1440px;
    // max-height: 100vh;
}


// Regular 400
@font-face {
    font-family: 'Syne';
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    src: url(./assets/fonts/Syne/Syne-VariableFont_wght.ttf);
}

// Medium 500
@font-face {
    font-family: 'Syne';
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    src: url(./assets/fonts/Syne/Syne-VariableFont_wght.ttf);
}

// SemiBold 600
@font-face {
    font-family: 'Syne';
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    src: url(./assets/fonts/Syne/Syne-VariableFont_wght.ttf);
}

// Bold 700
@font-face {
    font-family: 'Syne-Bold';
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    src: url(./assets/fonts/Syne/Syne-VariableFont_wght.ttf);
}

// ExtraBold 800
@font-face {
    font-family: "Syne-ExtraBold";
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    src: url(./assets/fonts/Syne/Syne-VariableFont_wght.ttf);
}


//* Overpass-Bold 700
@font-face {
    font-family: 'Overpass-Bold';
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    src: url(./assets/fonts/Overpass-Bold.ttf);
}

// Overpass-Regular 400
@font-face {
    font-family: 'Overpass-Regular';
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    src: url(./assets/fonts/Overpass-Light.ttf);
}

// Overpass-Light 300
@font-face {
    font-family: 'Overpass-Light';
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    src: url(./assets/fonts/Overpass-Light.ttf);
}